/*--------------
footer
--------------*/
footer {
  background: #E0DADA;
  padding: 1.5em;
}

@media (max-width: 480px) {
  footer {
    margin-top: 0;
  }
}

.footer-category__ttl {
  text-align: center;
  margin-bottom: .5em;
}

.footer-category__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.footer-category__list li {
  display: inline-block;
  background: #333;
  margin: 1em;
  padding: 1em 3em;
  border-radius: 30px;
  transition: .6s;
}

@media (max-width: 480px) {
  .footer-category__list li {
    margin: 10px;
    padding: .5em 2em;
  }
}

.footer-category__list li:hover {
  opacity: .5;
}

.footer-category__list a {
  color: #fff;
  font-weight: bold;
}

.footer__line {
  width: 90%;
  margin: 2em auto;
  border: 1px solid #fff;
}

.copyright {
  margin-top: 3em;
  color: #fff;
  text-align: center;
}
