@import "media.scss";

/*--------------
main
--------------*/
.wrapper{
  display: flex;
}

.main{
  width: 75%;
  @include tab {
    width: 100%;
  }
  &__ttl {
    text-align: center;
    margin: 1em;
    @include sp {
      margin: 1em 0 0;
    }
  }
  &__body {
    background: #EAE8E1;
    margin: 0 2em;
    padding: 2em;
    @include sp {
      margin: 1em;
      padding: 1em;
    }
  }
}
 
//ページナビ
.screen-reader-text {
 display: none;
}
.nav-links {
 text-align: center;
 span, a {
   display: inline-block;
   background: #fff;
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   line-height: 4rem;
 }
 a {
   background: #fff;
 }
 span {
   background: skyblue;
   color: #fff;
 }
}
