/*--------------
profile
--------------*/
.profile__body {
  padding: 1.5em;
}

.profile__body p {
  text-align: justify;
  margin: 1em 0;
}

.profile__body img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile__img-outer {
  width: 200px;
  margin: auto;
}

.profile__btn {
  background: #DD4444;
  text-align: center;
  color: #fff;
  line-height: 60px;
  transition: .6s;
}

.profile__btn:hover {
  opacity: .5;
}
